Service References/ServiceReference1/CustomerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendOrderData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="list" type="tns:ArrayOfOrderEn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOrderEn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderEn" nillable="true" type="tns:OrderEn" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderEn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SUBMITTIME" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SUBMITUSERID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SUBMITUSERNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ARRIVEDNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DECLCARNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CONTAINERNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GOODSTYPEID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SECONDLADINGBILLNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FIRSTLADINGBILLNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MANIFEST" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WOODPACKINGID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WEIGHTCHECK" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISWEIGHTCHECK" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SHIPNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FILGHTNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLEARANCENO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Files" type="tns:ArrayOfFileEn" />
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CUSNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REPNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ENTRUSTTYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ENTRUSTTYPENAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BUSITYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BUSITYPENAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REPWAYID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REPWAYNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CUSTOMAREACODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CUSTOMAREANAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DECLWAY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DECLWAYNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BUSIUNITCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BUSIUNITNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BUSIUNITNUM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GOODSNUM" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GOODSGW" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GOODSNW" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="PACKKIND" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PACKKINDNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BELONGCUSTOMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BELONGCUSTOMSNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ORDERREQUEST" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REPUNITCODE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LAWFLAG" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="DECLREPCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DECLREPNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="INSPREPCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="INSPREPNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TOTALNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DIVIDENO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TURNPRENO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PRODUCTNUM" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="PORTCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CORRESPONDNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ASSOCIATENO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WEIGHTCONFIRM" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="RECORDCODE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISINVALID" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CREATETIME" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFileEn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FileEn" nillable="true" type="tns:FileEn" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FileEn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FileType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileContent" type="s:base64Binary" />
          <s:element minOccurs="1" maxOccurs="1" name="FileFormat" type="tns:FileFormatEnum" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="FileFormatEnum">
        <s:restriction base="s:string">
          <s:enumeration value="PDF" />
          <s:enumeration value="TXT" />
          <s:enumeration value="XML" />
          <s:enumeration value="DOCX" />
          <s:enumeration value="XLSX" />
          <s:enumeration value="XLS" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SendOrderDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendOrderDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveDeclarationStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="repno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="busiUnit" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveDeclarationStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReceiveDeclarationStatusResult" type="tns:ArrayOfDeclStatusEn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDeclStatusEn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DeclStatusEn" nillable="true" type="tns:DeclStatusEn" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeclStatusEn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RepNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BusiUnit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeclarationCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReceiveDeclaration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="repno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="busiUnit" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveDeclarationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReceiveDeclarationResult" type="tns:ArrayOfDeclarationEn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDeclarationEn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DeclarationEn" nillable="true" type="tns:DeclarationEn" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeclarationEn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RepStartTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SubDeclList" type="tns:ArrayOfDeclListEn" />
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ORDERCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DECLARATIONCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UNITYCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CURRENTCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CUSTOMAREACODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DECLWAY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DECLTYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PORTCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CONTRACTNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RECORDCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CHANNEL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CONSHIPPERCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CONSHIPPERNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BUSIUNITCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BUSIUNITNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REPUNITCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REPUNITNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TRANSMODEL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TRANSNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VOYAGENO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BLNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EXEMPTIONCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TRADECODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TRADECOUNTRYCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SECOUNTRYCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SEPORTCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SEPLACECODE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GOODSNUM" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="PACKAGECODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LICENSENO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GOODSGW" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GOODSNW" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="TRADETERMSCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FGCODE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FREIGHT" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="FGUNITCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IPCODE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="INSURANCEPREMIUM" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="IPUNITCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AECODE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ADDITIONALEXPENSES" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="AEUNITCODE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SPECIALRELATION" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PRICEIMPACT" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PAYPOYALTIES" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TAXRATE" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="TAXUNITCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TAXUNITNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LISTINFO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CONSHIPPERNUM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BUSIUNITNUM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REPUNITNUM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISNEEDCLEARANCE" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ISHAVECLEARANCE" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ISFORCELAW" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="WAREHOUSENO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YARDCODE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SHEETNUM" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PRESHEETNUM" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="COMMODITYNUM" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CUSNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REPWAYID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CUSTOMSSTATUS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TOTALNW" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TOTALMONEY" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TOTALNUM" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="LISTTYPE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FORMATAUTO" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="ASSOCIATEPEDECLNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ASSOCIATEDECLNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DECLCODESOURCE" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="DECLREMARK" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDeclListEn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DeclListEn" nillable="true" type="tns:DeclListEn" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeclListEn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ORDERNO" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="ITEMNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COMMODITYNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ADDITIONALNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COMMODITYNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SPECIFICATIONSMODEL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LEGALQUANTITY" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="LEGALUNIT" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SQUANTITY" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="SUNIT" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CADQUANTITY" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CADUNIT" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UNITPRICE" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TOTALPRICE" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CURRENCY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CURRENCYCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TAXPAID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VERSIONNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ARTNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PROCESSINGFEES" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GOODSNW" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="LICENSENO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISOUEQUIPMENT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISWASTEMATERIALS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISFORCELAWCONDITION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PURPOSE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CUSTOMREGULATORY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="INSPECTIONREGULATORY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CIQCODE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CREATEBY" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CREATEDATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="PREDECLCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COUNTRYORIGIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COUNTRYORIGINCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UNITYCODE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISSPECIAL" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="DESTCOUNTRYCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DESTCOUNTRYNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="INOUTDATE" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReceiveDeclarationPdf">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="repno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="busiUnit" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveDeclarationPdfResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReceiveDeclarationPdfResult" type="tns:ArrayOfDeclPdfEn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDeclPdfEn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DeclPdfEn" nillable="true" type="tns:DeclPdfEn" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeclPdfEn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BusiUnit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeclarationCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PDF" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDeclStatusEn" nillable="true" type="tns:ArrayOfDeclStatusEn" />
      <s:element name="ArrayOfDeclarationEn" nillable="true" type="tns:ArrayOfDeclarationEn" />
      <s:element name="ArrayOfDeclPdfEn" nillable="true" type="tns:ArrayOfDeclPdfEn" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendOrderDataSoapIn">
    <wsdl:part name="parameters" element="tns:SendOrderData" />
  </wsdl:message>
  <wsdl:message name="SendOrderDataSoapOut">
    <wsdl:part name="parameters" element="tns:SendOrderDataResponse" />
  </wsdl:message>
  <wsdl:message name="ReceiveDeclarationStatusSoapIn">
    <wsdl:part name="parameters" element="tns:ReceiveDeclarationStatus" />
  </wsdl:message>
  <wsdl:message name="ReceiveDeclarationStatusSoapOut">
    <wsdl:part name="parameters" element="tns:ReceiveDeclarationStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ReceiveDeclarationSoapIn">
    <wsdl:part name="parameters" element="tns:ReceiveDeclaration" />
  </wsdl:message>
  <wsdl:message name="ReceiveDeclarationSoapOut">
    <wsdl:part name="parameters" element="tns:ReceiveDeclarationResponse" />
  </wsdl:message>
  <wsdl:message name="ReceiveDeclarationPdfSoapIn">
    <wsdl:part name="parameters" element="tns:ReceiveDeclarationPdf" />
  </wsdl:message>
  <wsdl:message name="ReceiveDeclarationPdfSoapOut">
    <wsdl:part name="parameters" element="tns:ReceiveDeclarationPdfResponse" />
  </wsdl:message>
  <wsdl:message name="ReceiveDeclarationStatusHttpGetIn">
    <wsdl:part name="repno" type="s:string" />
    <wsdl:part name="busiUnit" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReceiveDeclarationStatusHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDeclStatusEn" />
  </wsdl:message>
  <wsdl:message name="ReceiveDeclarationHttpGetIn">
    <wsdl:part name="repno" type="s:string" />
    <wsdl:part name="busiUnit" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReceiveDeclarationHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDeclarationEn" />
  </wsdl:message>
  <wsdl:message name="ReceiveDeclarationPdfHttpGetIn">
    <wsdl:part name="repno" type="s:string" />
    <wsdl:part name="busiUnit" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReceiveDeclarationPdfHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDeclPdfEn" />
  </wsdl:message>
  <wsdl:message name="ReceiveDeclarationStatusHttpPostIn">
    <wsdl:part name="repno" type="s:string" />
    <wsdl:part name="busiUnit" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReceiveDeclarationStatusHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDeclStatusEn" />
  </wsdl:message>
  <wsdl:message name="ReceiveDeclarationHttpPostIn">
    <wsdl:part name="repno" type="s:string" />
    <wsdl:part name="busiUnit" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReceiveDeclarationHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDeclarationEn" />
  </wsdl:message>
  <wsdl:message name="ReceiveDeclarationPdfHttpPostIn">
    <wsdl:part name="repno" type="s:string" />
    <wsdl:part name="busiUnit" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReceiveDeclarationPdfHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDeclPdfEn" />
  </wsdl:message>
  <wsdl:portType name="CustomerServiceSoap">
    <wsdl:operation name="SendOrderData">
      <wsdl:input message="tns:SendOrderDataSoapIn" />
      <wsdl:output message="tns:SendOrderDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveDeclarationStatus">
      <wsdl:input message="tns:ReceiveDeclarationStatusSoapIn" />
      <wsdl:output message="tns:ReceiveDeclarationStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveDeclaration">
      <wsdl:input message="tns:ReceiveDeclarationSoapIn" />
      <wsdl:output message="tns:ReceiveDeclarationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveDeclarationPdf">
      <wsdl:input message="tns:ReceiveDeclarationPdfSoapIn" />
      <wsdl:output message="tns:ReceiveDeclarationPdfSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CustomerServiceHttpGet">
    <wsdl:operation name="ReceiveDeclarationStatus">
      <wsdl:input message="tns:ReceiveDeclarationStatusHttpGetIn" />
      <wsdl:output message="tns:ReceiveDeclarationStatusHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveDeclaration">
      <wsdl:input message="tns:ReceiveDeclarationHttpGetIn" />
      <wsdl:output message="tns:ReceiveDeclarationHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveDeclarationPdf">
      <wsdl:input message="tns:ReceiveDeclarationPdfHttpGetIn" />
      <wsdl:output message="tns:ReceiveDeclarationPdfHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CustomerServiceHttpPost">
    <wsdl:operation name="ReceiveDeclarationStatus">
      <wsdl:input message="tns:ReceiveDeclarationStatusHttpPostIn" />
      <wsdl:output message="tns:ReceiveDeclarationStatusHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveDeclaration">
      <wsdl:input message="tns:ReceiveDeclarationHttpPostIn" />
      <wsdl:output message="tns:ReceiveDeclarationHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveDeclarationPdf">
      <wsdl:input message="tns:ReceiveDeclarationPdfHttpPostIn" />
      <wsdl:output message="tns:ReceiveDeclarationPdfHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerServiceSoap" type="tns:CustomerServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendOrderData">
      <soap:operation soapAction="http://tempuri.org/SendOrderData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveDeclarationStatus">
      <soap:operation soapAction="http://tempuri.org/ReceiveDeclarationStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveDeclaration">
      <soap:operation soapAction="http://tempuri.org/ReceiveDeclaration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveDeclarationPdf">
      <soap:operation soapAction="http://tempuri.org/ReceiveDeclarationPdf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomerServiceSoap12" type="tns:CustomerServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendOrderData">
      <soap12:operation soapAction="http://tempuri.org/SendOrderData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveDeclarationStatus">
      <soap12:operation soapAction="http://tempuri.org/ReceiveDeclarationStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveDeclaration">
      <soap12:operation soapAction="http://tempuri.org/ReceiveDeclaration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveDeclarationPdf">
      <soap12:operation soapAction="http://tempuri.org/ReceiveDeclarationPdf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomerServiceHttpGet" type="tns:CustomerServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ReceiveDeclarationStatus">
      <http:operation location="/ReceiveDeclarationStatus" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveDeclaration">
      <http:operation location="/ReceiveDeclaration" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveDeclarationPdf">
      <http:operation location="/ReceiveDeclarationPdf" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomerServiceHttpPost" type="tns:CustomerServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ReceiveDeclarationStatus">
      <http:operation location="/ReceiveDeclarationStatus" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveDeclaration">
      <http:operation location="/ReceiveDeclaration" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveDeclarationPdf">
      <http:operation location="/ReceiveDeclarationPdf" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerService">
    <wsdl:port name="CustomerServiceSoap" binding="tns:CustomerServiceSoap">
      <soap:address location="http://221.224.21.20:6790/CustomerService.asmx" />
    </wsdl:port>
    <wsdl:port name="CustomerServiceSoap12" binding="tns:CustomerServiceSoap12">
      <soap12:address location="http://221.224.21.20:6790/CustomerService.asmx" />
    </wsdl:port>
    <wsdl:port name="CustomerServiceHttpGet" binding="tns:CustomerServiceHttpGet">
      <http:address location="http://221.224.21.20:6790/CustomerService.asmx" />
    </wsdl:port>
    <wsdl:port name="CustomerServiceHttpPost" binding="tns:CustomerServiceHttpPost">
      <http:address location="http://221.224.21.20:6790/CustomerService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>