Service References/ServiceReference1/SyncDataFromSap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SyncData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ld" type="tns:ArrayOfOrderEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOrderEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderEntity" nillable="true" type="tns:OrderEntity" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderEntity">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BUSITYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CUSNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BUSIUNITCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CONTRACTNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TOTALNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DIVIDENO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TURNPRENO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLEARANCENO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WOODPACKINGID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LAWCONDITION" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GOODSNUM" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GOODSWEIGHT" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="REGNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REPWAYID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CUSTOMDISTRICTCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PORTCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REPUNITCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="INSPUNITCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CUSTOMERCODE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CREATEUSERID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CREATEUSERNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CREATETIME" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SUBMITUSERID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SUBMITUSERNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SUBMITTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CSACCEPTUSERID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CSACCEPTUSERNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STATUS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ENTRUSTREQUEST" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ENTRUSTTYPEID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MANIFEST" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHIPNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FILGHTNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LADINGBILLNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PRIORITY" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TRADEWAYCODES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DECLCARNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLEARUNIT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BUSIKIND" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DECLWAY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ORDERWAY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PACKKIND" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GOODSGW" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GOODSNW" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="ARRIVEDNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LANDREGNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CSREQUEST" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLEARREMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CSID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CSNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CSACCEPTTIME" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CSSUBMITTIME" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="MOID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MONAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MOACCEPTTIME" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="COID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CONAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="COACCEPTTIME" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ISINVALID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FIRSTLADINGBILLNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SECONDLADINGBILLNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GOODSTYPEID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GOODSTYPENAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CONTAINERNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SECONDTRANSIT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ASSOCIATENO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CORRESPONDNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EXTRASTATUS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="INTERNALTYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ASSOCIATECUSTOMSNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BUSIUNITNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REPUNITNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="INSPUNITNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CUSTOMERNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLEARUNITNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FILINGNUMBER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ATTRIBUTION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TRADEWAYCODES1" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CSSTARTTIME" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CSTIME" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SETNUM" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PAPERNUM" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MOACCEPTUSERID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MOACCEPTUSERNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="COACCEPTUSERID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="COACCEPTUSERNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ASSOCIATEPEDECLNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISPAUSE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ASSOCIATETRADEWAY" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DECLSTATUS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="INSPSTATUS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DECLSETNUM" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="INSPSETNUM" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DECLSHEETNUM" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PREDECLSETNUM" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PREINSPSETNUM" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MOSTARTTIME" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="MOENDTIME" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="COSTARTTIME" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="COENDTIME" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="COTIME" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DECLPAUSE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="INSPPAUSE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PORTNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CUSTOMDISTRICTNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SUBMITUSERPHONE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CSPHONE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YWBH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FINISHTIME" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="COBACK" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PAUSENUM" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="INVALIDREASON" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BUSISHORTNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BUSISHORTCODE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CSISBACK" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="MOISBACK" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="COISBACK" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="INOUTTYPE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MOSUBMITTIME" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="COSUBMITTIME" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="IETYPE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CSSUBMITUSERID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CSSUBMITUSERNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SPECIALRELATIONSHIP" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PRICEIMPACT" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PAYPOYALTIES" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PREISPAUSE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SCENEDECLAREID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SCENEINSPECTID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DECLPDF" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CHECKPDF" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PREPDF" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISTURNPRE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DECLFINISHTIME" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="INSPFINISHTIME" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SPLITNUM" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SELFCHECK" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISSELFCHECK" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SELFCHECKTIME" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SELFCHECKUSERCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SELFCHECKUSERNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WEIGHTCHECK" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISWEIGHTCHECK" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="WEIGHTCHECKTIME" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="WEIGHTCHECKUSERCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WEIGHTCHECKUSERNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CHECKEDGOODSNUM" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CHECKEDWEIGHT" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PRINTSTATUS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ZUOYEDANTIME" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="GUOJITIME" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="GUOJIUSERID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GUOJIUSERNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LIDANTIME" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LIDANUSERID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LIDANUSERNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LIHUOZILIAOTIME" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LIHUOZILIAOUSERID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LIHUOZILIAOUSERNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BAOGUANTIME" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="BAOGUANUSERID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BAOGUANUSERNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DANZHENGFANGXINGTIME" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DANZHENGFANGXINGUSERID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DANZHENGFANGXINGUSERNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CHAYANSTARTTIME" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CHAYANSTARTUSERID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CHAYANSTARTUSERNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CHAYANENDTIME" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CHAYANENDUSERID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CHAYANENDUSERNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LIHUOSTARTTIME" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LIHUOSTARTUSERID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LIHUOSTARTUSERNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LIHUOENDTIME" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LIHUOENDUSERID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LIHUOENDUSERNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SHIWUFANGXINGTIME" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SHIWUFANGXINGUSERID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SHIWUFANGXINGUSERNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PASSMODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IFCHAYAN" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CHAYANTIMES" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CHAYANREMARK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LIHUOSIGN" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LIHUOTIMES" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="KOUHUOSIGN" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KOUHUOTIME" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="IFTIAODANG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TIAODANGTIMES" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SHIWUJIAFENGTIME" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SHIWUJIAFENGUSERNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SHIWUJIAFENGUSERID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FWONO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FOCUSTOMSNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FOINSPECTNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IFKXCHAYAN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LIDANDESC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LIHUOZILIAODESC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BAOGUANDESC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DANZHENGFANGXINGDESC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CHAYANSTARTDESC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CHAYANENDDESC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LIHUOSTARTDESC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LIHUOENDDESC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHIWUFANGXINGDESC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHIWUJIAFENGDESC" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SyncDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SyncDataResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SyncDataSoapIn">
    <wsdl:part name="parameters" element="tns:SyncData" />
  </wsdl:message>
  <wsdl:message name="SyncDataSoapOut">
    <wsdl:part name="parameters" element="tns:SyncDataResponse" />
  </wsdl:message>
  <wsdl:portType name="SyncDataFromSapSoap">
    <wsdl:operation name="SyncData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">param参数说明:订单集合&lt;br&gt;返回值:一个对象, Success true/false, Message 消息&lt;br&gt;1 凭证类型(LICENSETYPE)&lt;br&gt;2 FWO订单号(FWONO)&lt;br&gt;3 FO报关服务指令号
       (FOCUSTOMSNO)&lt;br&gt;4 总单号(TOTALNO)&lt;br&gt;5 分单号(DIVIDENO)&lt;br&gt;6 件数(GOODSNUM)&lt;br&gt;7毛重(GOODSGW)&lt;br&gt;8 净重(GOODSNW)&lt;br&gt;9 经营单位代码(BUSIUNITCODE)
        &lt;br&gt;10 经营单位名称(BUSIUNITNAME)&lt;br&gt;11 包装种类(PACKKIND)&lt;br&gt;12 申报方式(REPWAYID)&lt;br&gt;13报关方式(DECLWAY)&lt;br&gt;14贸易方式(TRADEWAYCODES)
        &lt;br&gt;15客户自编号(CUSNO)&lt;br&gt;16进/出口岸(PORTCODE)&lt;br&gt;17特殊关系确认(SPECIALRELATIONSHIP)&lt;br&gt;18价格影响确认(PRICEIMPACT)
        &lt;br&gt;19支付特许权使用费确认(PAYPOYALTIES)&lt;br&gt;20报关申报单位代码(REPUNITCODE)&lt;br&gt;21报关申报单位名称(REPUNITNAME)&lt;br&gt;22委托人员(SUBMITUSERNAME)
        &lt;br&gt;23委托时间(SUBMITTIME)&lt;br&gt;24委托电话(SUBMITUSERPHONE)&lt;br&gt;25运抵编号(ARRIVEDNO)&lt;br&gt;26集装箱车号信息(CONTAINERTRUCK)&lt;br&gt;27实际件数(ACTUALGOODSNUM)
        &lt;br&gt;28实际毛重(ACTUALGOODSGW)&lt;br&gt;29货物类型(整箱或散箱用中文标记)(GOODSTYPE)&lt;br&gt;30报关提单号(SECONDLADINGBILLNO)&lt;</wsdl:documentation>
      <wsdl:input message="tns:SyncDataSoapIn" />
      <wsdl:output message="tns:SyncDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SyncDataFromSapSoap" type="tns:SyncDataFromSapSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SyncData">
      <soap:operation soapAction="http://tempuri.org/SyncData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SyncDataFromSapSoap12" type="tns:SyncDataFromSapSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SyncData">
      <soap12:operation soapAction="http://tempuri.org/SyncData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SyncDataFromSap">
    <wsdl:port name="SyncDataFromSapSoap" binding="tns:SyncDataFromSapSoap">
      <soap:address location="http://172.20.60.198:8012/SyncDataFromSap.asmx" />
    </wsdl:port>
    <wsdl:port name="SyncDataFromSapSoap12" binding="tns:SyncDataFromSapSoap12">
      <soap12:address location="http://172.20.60.198:8012/SyncDataFromSap.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>